<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="card-group">
      <div class="card">
        <div class="card bg-dark text-white">
          <div class="card-header ">Devour It</div>
          <div class="card-body">
            <div class="card bg-dark">
              <ul class="list-group">
                {{#each burgers}}
                {{#if devour}}
                <ol class="list-group-item"> {{> burgers/burger-block devour=false}}</ol>
                {{/if}}
                {{/each}}
              </ul>
            </div></div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Eat The Burger</div>
        <img src="/assets/images/burgers.png" alt="" class="card-img-top">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="ca">Burger Name:</label>
              <input type="text" id="ca" name="name" class="form-control">
            </div>

            <div class="form-group">
              <label for="devour">How was it?</label>
              <div class="form-check form-check-inline">
                <input type="radio" name="devour" value="1" checked class="form-check-input"> Devoured!<br>
                <input type="radio" name="devour" value="0" class="form-check-input"> Threw Up
              </div>
            </div>

            <button type="submit" class="btn btn-success btn-block">Add burger</button>
          </form>
        </div>
      </div>
      <div class="card bg-dark">
        <div class="card-header text-white">Devoured</div>
        <div class="card-body">
          <ul class="list-group">
            {{#each burgers}}
            {{#unless devour}}
            <ol class="list-group-item"> {{> burgers/burger-block devour=true}}</ol>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--
  <h1>Burgers!</h1>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devour}}
  {{> burgers/burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devour}}
  {{> burgers/burger-block devour=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>