body {
  height: 100%;
  margin: 0 auto;
  background: #121212;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faf3d7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
